@model Machine_Test_1.Models.Category
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        @Html.LabelFor(model => model.CategoryId)
        <b>
            @Html.DisplayFor(model => model.CategoryId)
        </b>
    </div>
    <div>
        @Html.LabelFor(model => model.CategoryName)
        <b>
            @Html.DisplayFor(model => model.CategoryName)
        </b>
    </div>
    <div>
        @Html.ActionLink("Back To List", "Index")
    </div>
}
